.centring-content{
    display:flex;
    justify-content:center;;
    align-items:center;
}
.lefting-content{
    display:flex;
    justify-content:left;
    align-items:center;
}
.toping-content{
    display:flex;
    justify-content:center;
    align-items:top;
}
.Text-center{
    text-align:center;
}